#sidebar {

    & .menu-section {
        // border: 1px solid red;
        display: block;

        & > h1,h2,h3,h4,h5 {
            font-size: 15px;
            color: lighten($sidebar-link-color, 5);
            margin: 21px 8px 8px 8px;
            text-transform: uppercase;
        }

        & > ul {
            // border: 1px solid Silver;
            padding-left: 0;
            list-style: none;


            & > li {
                // border: 1px solid green;
                background-color: $sidebar-menu-bkg-color;
                position: relative; //required to prevent overlaping

                &:hover {
                    background-color: darken($sidebar-menu-bkg-color, 3);
                    cursor: pointer;
                }


                // <ul class="active"> => opened child menu
                &.active {
                    background-color: $sidebar-menu-bkg-active-color;

                    & > ul.child {
                        display: block;
                        opacity: 1; //animate
                        height: 100%; //animate
                    }

                    & > a {

                        & > span.fa {
                            transform: rotate(180deg);
                            transition: transform 0.8s ease;
                        }
                    }
                }

                & > a {
                    // border: 1px solid silver;
                    display: block;
                    padding: 8px;
                    color: $sidebar-link-color;
                    font-size: 16px;
                    font-family: Open Sans,Helvetica,Arial,sans-serif;
                    font-weight: 500;
                    text-decoration: none;

                    &:hover {
                        color: lighten($sidebar-link-color, 50);
                    }

                    & > i {
                        margin-right: 8px;
                    }


                    & > span {
                        float: right;
                    }
                }


                /*** CHILD MENU ***/
                & > ul.child {
                    // border: 1px solid orange;
                    display: none;
                    padding-left: 21px;
                    list-style: none;
                    opacity: 0; //animate
                    height: 0; //animate
                    transition: all 0.4s ease; //animation


                    & > li {
                        // border: 1px solid red;
                        max-width: $sidebar-width - 25 + unquote("px"); //firefox requires -  because of elipses
                        position: relative;

                        &.active {

                            & > a {
                                color: lighten($sidebar-link-color, 50);
                            }
                        }

                        &.divider {
                            height: 1px;
                            background: $sidebar-link-color;
                            border-bottom: $sidebar-link-color;
                            margin: 5px 0px;
                        }

                        & > a {
                            // border: 1px solid green;
                            display: block;
                            padding: 5px;
                            color: $sidebar-link-color;
                            font-size: 15px;
                            font-family: Open Sans,Helvetica,Arial,sans-serif;
                            font-weight: 500;
                            text-decoration: none;
                            /*shorten text with 3 dots: ellipses*/
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            //chevron arrow
                            & > span {
                                position: absolute;
                                right: 13px;
                            }

                            &:hover {
                                color: lighten($sidebar-link-color, 50);
                            }

                        }

                        /*** GRANDCHILD MENU ***/
                        &.grandchild { //li.grandchild

                            & > ul {
                                // border: 1px solid orange;
                                list-style-type: none;
                                padding-left: 21px;
                                background-color: $sidebar-menu-bkg-active-color;
                                opacity: 0; //animate
                                height: 0px; //animate
                                transition: all 0.4s ease; //animation

                                & > li {
                                    // border: 1px solid green;

                                    &.active {
                                        & > a {
                                            color: darken($sidebar-link-color, 5);
                                            font-weight: bold;
                                        }
                                    }

                                    & > a {
                                        // border: 1px solid red;
                                        display: block;
                                        padding: 3px;
                                        color: $sidebar-link-color;
                                        text-decoration: none;
                                        /*shorten text with 3 dots: ellipses*/
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;

                                        &:hover {
                                            color: lighten($sidebar-link-color, 50);
                                        }

                                        &:before { //circle
                                            content: "-";
                                            position: absolute;
                                            left: 13px;
                                        }

                                        &:after { //line
                                            content: "";
                                            position: absolute;
                                            left: 13px;
                                            border-left: 1px solid darken($sidebar-link-color, 3);
                                            height: 15px;
                                            padding: 10px;
                                        }
                                    }
                                }

                            }



                            &.active { //li.grandchild.active grandchild menu is opened
                                & > ul {
                                    opacity: 1; //animate
                                    height: 100%; //animate
                                }

                                & > a > span.fa {
                                    transform: rotate(180deg);
                                    transition: transform 0.8s ease;
                                }

                            }

                        }


                    }

                }


            }

        }

    }
}
