#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & > .menu-section {
        //flex item properties
        flex: 0 0 $sidebar-width + unquote("px");

        & > h1,h2,h3,h4,h5 {
            font-size: 21px;
            color: darken($sidebar-link-color, 5);;
            margin-bottom: 8px;
            text-align: center;
        }

        & > ul {
            // border: 1px solid green;
            list-style: none;

            & > li {
                border-bottom: 1px solid $border-color;
                position: relative;
                margin-left: -40px;
                background-color: darken($sidebar-menu-bkg-color, 3);
                padding: 13px 0px;

                &:first-child {
                    border-top: 1px solid $border-color;
                }

                &:hover {
                    background-color: lighten($sidebar-menu-bkg-color, 3);
                    cursor: pointer;
                }


                // <ul class="active"> => opened child menu
                &.active {
                    background-color: lighten($sidebar-menu-bkg-color, 5);

                    & > ul.child {
                        opacity: 1; //animate
                        height: 100%; //animate
                    }

                    & > a {
                        & > span.fa.fa-chevron-down {
                            transform: rotate(180deg);
                            transition: transform 0.8s ease;
                        }
                    }
                }

                & > .fa {
                    position: relative;
                    left: 5px;
                    color: darken($sidebar-link-color, 50);
                    font-size: larger;
                    margin-right: 21px;
                }


                & > a {
                    color: $sidebar-link-color;
                    font: 15px Verdana;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-left: -8px;


                    & > span {
                        margin: 5px 8px;
                        float: right;
                    }
                }


                /*** CHILD MENU ***/
                & > ul.child {
                    // border:1px solid navy;
                    list-style: none;
                    opacity: 0; //animate
                    height: 0px; //animate
                    transition: all 0.4s ease;


                    & > li {
                        // border: 1px solid red;
                        position: relative;
                        left: -21px;
                        max-width: $sidebar-width - 50 + unquote("px");
                        margin: 8px 0px;
                        /*shorten text with 3 dots: ellipses*/
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        &:last-child {
                            margin-bottom: 0px;
                        }

                        &.active {
                            & > a {
                                color: darken($sidebar-link-color, 5);
                                font-weight: bold;
                            }
                        }

                        &.divider {
                            height: 1px;
                            background: $border-color;
                            border-bottom: 1px solid $sidebar-border-top;
                            margin-left: -8px;
                        }

                        & > a {
                            color: $sidebar-link-color;
                            font: 15px Verdana;
                            font-weight: 500;
                            padding: 0px;

                        }

                        /*** GRANDCHILD MENU ***/
                        &.grandchild { //li.grandchild
                            & > a {
                                color: $sidebar-grandchild-link-color;
                            }

                            & > ul {
                                // border: 1px solid red;
                                list-style-type: square;
                                margin-left: 13px;
                                padding-left: 0px;
                                width: $sidebar-width - 30 + unquote("px");
                                background-color: $sidebar-menu-bkg-color;
                                opacity: 0; //animate
                                height: 0px; //animate
                                transition: all 0.4s ease;

                                & > li {
                                    // border: 1px solid green;
                                    /*shorten text with 3 dots: ellipses*/
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;

                                    &:before {
                                        background: $sidebar-grandchild-link-color;
                                        bottom: auto;
                                        content: "";
                                        height: 8px;
                                        left: 0px;
                                        margin-top: 5px;
                                        position: absolute;
                                        right: auto;
                                        width: 8px;
                                        z-index: 1;
                                        border-radius: 50%;
                                    }

                                    &:after {
                                        content: "";
                                        position: absolute;
                                        bottom: 0;
                                        left: 3px;
                                        top: 21px;
                                        border-left: 1px solid $sidebar-grandchild-link-color;
                                    }

                                    &.active {
                                        & > a {
                                            color: darken($sidebar-link-color, 5);
                                            font-weight: bold;
                                        }
                                    }

                                    & > a {
                                        color: lighten($sidebar-link-color, 5);
                                    }
                                }

                            }



                            &.active { //li.grandchild.active grandchild menu is opened
                                & > ul {
                                    opacity: 1; //animate
                                    height: 100%; //animate
                                }

                                & > a > span.fa.fa-chevron-down {
                                    transform: rotate(180deg);
                                    transition: transform 0.8s ease;
                                }

                            }

                        }


                    }

                }


            }

        }

    }
}
