// _layout.scss
$topnavbar-min-height: 50; //px
$topnavbar-position: fixed; //fixed | absolute
$content-min-height: 750; //px
$border-color: #bcbcbc;
$nav-bkg-color: #F1F3F6;


// _sidebar.scss
$sidebar-width: 200; //px recommended <300
$sidebar-z: 1000;
$sidebar-border-top: 1px solid #ccc;
$sidebar-menu-bkg-color: #21252E;
$sidebar-menu-bkg-active-color: lighten($sidebar-menu-bkg-color, 5);
$sidebar-link-color: #515C70;


// _content.scss
$content-bkg-color: #FFF;
$content-text-color1: #444;
$content-text-color2: #73879C;


// _login-register.scss
$body_bkg_color: $nav-bkg-color
