// _layout.scss
$topnavbar-min-height: 60; //px
$content-min-height: 750; //px
$border-color: #bcbcbc;
$nav-bkg-color: #fff;
$content-bkg-color: #F1F3F6;
$content-text-color: #73879C;


// _sidebar.scss
$sidebar-width: 250; //px recommended <250
$sidebar-z: 1000;
$sidebar-border-top: 1px solid #ccc;
$sidebar-menu-bkg-color: #fff;
$sidebar-link-color: #6a6c6f;
$sidebar-grandchild-link-color: lighten($sidebar-link-color, 8);
