<!DOCTYPE HTML>
<html ng-app="clientApp">
<head>
	<meta charset="UTF-8">
	<title>SM Template: NGADMIN FLEX - elements</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/ngadmin-flex.css">

</head>

<body ng-controller="mainCtrl">


	<header class="flexcontainer-top">
		<div id="toptitle" class="hidden-xs">
			<h4>ngAdmin FLEX</h4>
		</div>

		<div id="sidebar-switch">
			<button class="btn btn-default" title="Toggle sidebar menu"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top" ng-click="toggleSidebar()">
				<i class="fa fa-2x fa-bars"></i>
			</button>
		</div>

		<div id="topnav">

			<div class="topnav-item">
				<button class="btn"><i class="fa fa-bar-chart" style="color:lightgreen;font-size:larger;"></i></button>
			</div>

			<div class="topnav-item">
				<nav ng-class="['dropdown', 'pull-right', inOpenClass]">
				  	<button class="btn btn-default" type="button" ng-click="toggleDropdownMenu()">
				  	  	Marko Marković
				  	  	<span class="caret"></span>
				  	</button>
				  	<ul class="dropdown-menu">
				  		<li class="profile-image"><img src="./assets/img/user.jpg" class="img-responsive img-rounded"></li>
				  	  	<li><a href="#">Profile</a></li>
				  	  	<li><a href="#">Contacts</a></li>
				  	  	<li><a href="#"></a></li>
				  	  	<li class="divider"></li>
				  	  	<li><a href="#" target="_blank">Logout <i class="fa fa-sign-out pull-right"></i></a></li>
				  	</ul>
				</nav>
			</div>

		</div>
	</header>

	<main class="flexcontainer-main">

		<aside id="sidebar" ng-class="hidesidebarClass">

			<div class="menu-section">
				<h2>Sidebar Menu</h2>

				<ul>
					<li class="active"> <!-- class="active" => menu opened -->
						<span class="fa fa-cog"></span>
						<a ng-click="toggleSidebarChild($event)">Menu 1 <span class="fa fa-chevron-down"></span></a>
						<ul class="child">
							<li><a href="#">Child Link</a></li>
							<li><a href="#">Very long text will apply CSS text-overflow: ellipsis; e.g. text will end with 3 dots.</a></li>
							<li class="active"><a href="#">Active Page</a></li> <!-- li class="active" => active page -->

							<!-- grandchild menu -->
							<li class="grandchild active"> <!-- class="grandchild active" => menu opened -->
								<a ng-click="toggleSidebarGrandChild($event)">Grandchild Menu <span class="fa fa-chevron-down"></span> </a>
								<ul>
									<li><a href="#">Grand Child Link</a></li>
									<li class="active"><a href="#">Active Link</a></li> <!-- active page -->
									<li><a href="#">Some very long text here bla bla blaaaaaaaaaaaaaaaaaaaaaaa</a></li>
								</ul>
							</li>

						</ul>
					</li>

					<li>
						<i class="fa fa-calculator"></i>
						<a ng-click="toggleSidebarChild($event)">Menu 2 (child) <span class="fa fa-chevron-down"></span></a>
						<ul class="child">
							<li><a href="#">Databases</a></li>
							<li class="divider"></li>
							<li><a href="#">Collections</a></li>
							<li><a href="#">Fields</a></li>
						</ul>
					</li>

					<li>
						<i class="fa fa-link"></i>
						<a href="#">
							Just Link
							<span class="label label-success pull-right">v.1</span>
						</a>
					</li>

				</ul>

			</div> <!-- /.menu-section -->

		</aside>

		<section id="content">

			<div class="row">

				<div class="col-sm-12">
					<h2>Heading</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta sapiente ipsam optio rerum enim amet,
						eaque earum dolorum quo nemo expedita, aspernatur debitis consectetur, dicta architecto quas aut vero a.
					</p>

					<table class="table table-hover">
						<tr>
							<th>id</th>
							<th>First and last name</th>
							<th>Tekst</th>
						</tr>
						<tr>
							<td>1</td>
							<td>Pero Pertić</td>
							<td>Zagreb - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident in quibusdam modi illum magni commodi similique ratione consectetur, unde officiis saepe sint, eveniet explicabo totam dolor ipsa. At, cupiditate, dolorum.</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Marko Markitić</td>
							<td>Rijeka</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Džoko Đokić</td>
							<td>Beograd</td>
						</tr>
					</table>
				</div>

			</div> <!-- /.row -->



		</section>

		<footer>Cloud j.d.o.o. &copy; 2016</footer>
	</main>


	<!-- Angular app -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
	<script src="ng.js"></script>

</body>
</html>
